<div class="p-4">
    <div class="container">
        <h1>Ciao {{account.firstName}}!</h1>
        <h2>Ruolo dell'utente: {{account.role}}</h2>
        <p>Questa applicazione è stata realizzata per permettere agli utenti di accedere, con permessi differenti, ai file caricati sul database MongoDB!</p>
        <p>I medici, rispetto ai pazienti, avranno un tab in più che consentirà loro di eliminare i files caricati sul database.</p>
        <p>I pazienti potranno consultare\scaricare i file di loro interesse.</p>
    </div>
</div>