<h1>Pazienti</h1>
<p>Lista di tutti i pazienti presenti:</p>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Inserisci paziente</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:30%">Nome</th>
            <th style="width:30%">Email</th>
            <th style="width:10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let account of accounts">
            <td *ngIf="account.role==='Paziente'">{{account.title}} {{account.firstName}} {{account.lastName}}</td>
            <td *ngIf="account.role==='Paziente'">{{account.email}}</td>
            <td style="white-space: nowrap" *ngIf="account.role==='Paziente'">
                <a routerLink="edit/{{account.id}}" class="btn btn-sm btn-primary mr-1">Modifica</a>
                <button (click)="deleteAccount(account.id)" class="btn btn-sm btn-danger btn-delete-account" [disabled]="account.isDeleting">
                    <span *ngIf="account.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!account.isDeleting">Elimina</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!accounts">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>